@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  --color-primary-50: #F0FFAD;
  --color-primary-100: #ECFF99;
  --color-primary-200: #E9FF85;
  --color-primary-300: #E5FF70;
  --color-primary-400: #E1FF5C;
  --color-primary-500: #DDFF47;
  --color-primary: #DAFF33;
  --color-primary-700: #D6FF1F;
  --color-primary-800: #D2FF0A;
  --color-primary-900: #C8F500;

  --color-secondary: #FF6663;

  --color-third: #241E4E;
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-900);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-800);
}
